<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
     <h1>Hallo!</h1><br><br>
     <p>Sie haben soeben eine neue Terminanfrage erstellt.</p>
     <p>Jetzt müssen nur noch alle abstimmen:</p>
     <a th:href="@{${url}}" th:text="${url}"></a><br><br><br>
     <p>Falls Sie die Terminanfrage bearbeiten möchten, können Sie dies unter folgendem Link tun:</p>
     <a th:href="@{${adminUrl}}" th:text="${adminUrl}"></a><br><br>
     <p>Vielen Dank, dass Sie drumdibum benutzen.</p>
  </body>
</html>